/* ELEMENTS */

:root {
    --primary-color: #2181FF;
    --secondary-color: #8F8F8F;
    --font-color: #00132b;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--font-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a{
text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

/* CLASSES */

.main-bg {
    background-image: url('../img/spectrum-gradient.svg');
    background-size: cover;
    background-position: center center;
    color: white;
}

.white-bg {
    background: white;
    color: var(--font-color);
    background-size: cover;
    background-position: center center;
    color: var(--font-color);
}

.main-content {
max-width: 120rem;
margin: 0 auto;
padding: 3rem;

}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
    border: 0.1rem solid var(--font-color);
    border-radius: 10%;
    color: #00132b;
    font-size: 2rem;
    transform: rotate(-90deg);
        

}

/*MENU*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid #eee;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--font-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    padding-bottom: 2rem;
    position: relative;
    font-size: 1.8rem;
    color: var(--font-color);
    
}

.menu ul li a:hover{
    background-color: #8f8f8f80;
}

.close-menu {
    display: none;
}

    /* SECTION 1 */

.intro-content{
display: grid;
position: relative;
grid-template-columns: 1fr 1.5fr;
align-items: center;
gap: var(--gap);
min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.intro-img img{
    max-width: 100%;
    height: auto;
}

/* SECTION 2 */

.jobs-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 64rem;
    text-align: center;
}

/* SECTION 3 */

.top3-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.top3-content h2 {
    margin-bottom: 1rem;
}

.top3-parag {
    padding-bottom: 5rem;
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

/* SECTION 4 */

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    max-width: 36rem;
    max-height: 36rem;
    
}

.gallery-img img:hover {
transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* SECTION 5 */

.money {
    text-align: right;
}

.responsive-table {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
    min-width: 42rem;
    border: 0.1rem solid var(--secondary-color);
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--secondary-color);
}

table th {
    background-color: lightgray;
}

tfoot td {
    background-color: lightgray;
    border: none;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

/* SECTION 6 */

.contact-form {
    grid-column: span 2;
}

.form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 40rem;
    min-width: 32rem;
}

.form-group label {
    display: block;
}

.form-group input, .form-group textarea {
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-group button {
    border: 0.5rem solid white;
    background: white;
    color: var(--font-color);
    padding: 1rem 1.5rem;
    font-size: 3rem;
    min-width: 15rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: none;
    color: white;
}

.form-grid legend {
    padding-bottom: 1.5rem;
    font-style: italic;
    font-size: 1.6rem;
}

.form-group ::placeholder {
    color:#8f8f8fea;
}

.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0 0 10px 2px var(--primary-color);
    outline: none;
}

/* FOOTER */

.footer, .footer a {
    padding-top: 2rem;
    text-align: center;
    color:#2181FF;
}

.heart {
    color: rgb(138, 9, 9)
}

/* MEDIA QUERY */

@media (max-width: 80rem) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-width: 100%;
    }

    .gallery-img img {
        width: 100%;
        max-width: none;
        max-height: none;
    }
    
    .top3-content {
        display: block;
    }

    .menu {
        bottom: 0;
        display: none;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
   
    .menu-content {
        height: 100vh;
    }

    

    .close-menu-label::after {
        content: "☰";
        position: fixed;
        z-index: 2;
        top: 1.2rem;
        right: 2rem;
        background-color: white;
        border: 0.1rem solid var(--font-color);
        border-radius: 10%;
        font-size: 2.5rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
    content: "×";
    font-size: 4rem;
    }
    
}
